In [1]:
#Import libraries used in code
import pandas as pd
import numpy as np
#Directory from og data
file = "Resources/purchase_data.csv"
#Insert og data in a pandas DF
data = pd.read_csv(file)
data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

Player Count

In [2]:
#Find unique Users in SN column
SN = data.drop_duplicates('SN', keep='last')
#Find number of Users in new DF
TotalSN = len(SN)
TotalSN_df = pd.DataFrame({"Total Players":[(TotalSN)]})
TotalSN_df

   Total Players
0            576


Purchasing Analysis (Total)

In [3]:
#Number of unique items
items = data.drop_duplicates('Item Name', keep='last')
number_items = len(items)
#Average price of all Purchases
price_avg = data.Price.mean()
#add $ symbol to result
pr_avg = "$" + str(price_avg.round(decimals=2))
#Total number of purchase
number_purchase = len(data)
#Total amount of revenue
total_purchase = data.Price.sum()
#add $ symbol to result
t_p = "$" + str(total_purchase)
#Create a Dataframe with all the data compiled
Total_Analysis_df = pd.DataFrame({"Number of Unique Items":[number_items],"Average Price":[pr_avg],"Number of Purchases":[number_purchase],"Total Revenue":[t_p]})
Total_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

  Gender Demographics

In [4]:
#Separate data between genders
g_m = data.loc[data["Gender"] == "Male"]
g_f = data.loc[data["Gender"] == "Female"]
g_o = data.loc[data["Gender"] == "Other / Non-Disclosed"]
#Drop duplicate in each gender DF
g_m_u = g_m.drop_duplicates(subset='SN', keep='first')
g_f_u = g_f.drop_duplicates(subset='SN', keep='first')
g_o_u = g_o.drop_duplicates(subset='SN', keep='first')
#Find Total users in each gender
count_m = len(g_m_u)
count_f = len(g_f_u)
count_o = len(g_o_u)
#Percentage of users according to gender
per_m = (count_m/TotalSN)*100
per_f = (count_f/TotalSN)*100
per_o = (count_o/TotalSN)*100
#Add % symbol to results
per_m_s= str(format(per_m,'.2f'))+ "%"
per_f_s= str(format(per_f,'.2f'))+ "%"
per_o_s= str(format(per_o,'.2f'))+ "%"
#Insert data into new DF
gender_df = pd.DataFrame({"Total Count":[count_m,count_f,count_o],"Percentage of Players":[per_m_s,per_f_s,per_o_s]},index = ['Male', 'Female', 'Other / Non-Disclosed'])
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender)

In [5]:
#Total amount of purchases according to gender
total_purchase_m = len(g_m)
total_purchase_f = len(g_f)
total_purchase_o = len(g_o)
#Average from all purchases according to gender
price_avg_m = g_m.Price.mean()
price_avg_f = g_f.Price.mean()
price_avg_o = g_o.Price.mean()
#Add $ to result
str_price_avg_m = "$" + str(price_avg_m.round(decimals=2))
str_price_avg_f = "$" + str(price_avg_f.round(decimals=2))
str_price_avg_o = "$" + str(price_avg_o.round(decimals=2))
#Total revenue by gender
total_purchase_m = g_m.Price.sum()
total_purchase_f = g_f.Price.sum()
total_purchase_o = g_o.Price.sum()
#Add $ to result
str_total_purchase_m = "$" + str(total_purchase_m.round(decimals=2))
str_total_purchase_f = "$" + str(total_purchase_f.round(decimals=2))
str_total_purchase_o = "$" + str(total_purchase_o.round(decimals=2))
#Average amount of purchase by person for each gender
avg_pp_m = total_purchase_m/count_m
avg_pp_f = total_purchase_f/count_f
avg_pp_o = total_purchase_o/count_o
#Add $ to result
str_avg_pp_m = "$" + str(avg_pp_m.round(decimals=2))
str_avg_pp_f = "$" + str(avg_pp_f.round(decimals=2))
str_avg_pp_o = "$" + str(avg_pp_o.round(decimals=2))
#Insert data into new DF
purchase_gender_df = pd.DataFrame({"Purchase Count":[total_purchase_f,total_purchase_m,total_purchase_o],"Average Purchase Price":[str_price_avg_f,str_price_avg_m,str_price_avg_o],"Total Purchase Value":[str_total_purchase_f,str_total_purchase_m,str_total_purchase_o],"Avg Total Purchase per Person":[str_avg_pp_f,str_avg_pp_m,str_avg_pp_o]},index = ['Male', 'Female', 'Other / Non-Disclosed'])
purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,361.94,$3.2,$361.94,$4.47
Female,1967.64,$3.02,$1967.64,$4.07
Other / Non-Disclosed,50.19,$3.35,$50.19,$4.56

Age Demographics

In [6]:
#Cut dataframe by age group, from DF without duplicate players
bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_group = pd.cut(SN["Age"],bins,labels=labels).value_counts()
#Create DF with series created by cut, specify index
age_df = pd.DataFrame(age_group, index= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
#Calculate percentage of players by age group, round result by 2 decimals
age_df["Percentage of Players"] = ((age_df["Age"]/TotalSN)*100).round(decimals=2)
#Add % symbol to results
age_df["Percentage of Players"] = age_df["Percentage of Players"].map(str) + "%"
#We drop index on this series so we can use it on the next part of the code.
age_group.reset_index(drop=True)
age_df

       Age Percentage of Players
<10     17                 2.95%
10-14   22                 3.82%
15-19  107                18.58%
20-24  258                44.79%
25-29   77                13.37%
30-34   52                 9.03%
35-39   31                 5.38%
40+     12                 2.08%

Purchasing Analysis (Age)

In [7]:
#Cut dataframe by age group, from DF all the players
bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#We save data in new DF so we dont loose og dataframe
data1 = data
#Cut DF
data1["Age Ranges"] = pd.cut(data["Age"],bins,labels=labels)
#Set Index as Age Range
data1.set_index("Age Ranges")
#Group data by age group
age_group = data1.groupby(["Age Ranges"])
#Get total of player in each age group
count_age = age_group["Age Ranges"].value_counts()
#Drop index so we can handel the series better later
count_age = count_age.reset_index(drop=True)
#Rename Series so we can use it easier later
count_age = count_age.rename("Purchase Count")
#Calculate average of purchase by age group
price_age_group = age_group["Price"].mean()
#Rename Series so we can use it easier later
price_age_group = price_age_group.reset_index(drop=True)
#Calculate total revenue by age group
total_price_age_group = age_group["Price"].sum()
#Rename Series so we can use it easier later
total_price_age_group = total_price_age_group.reset_index(drop=True)
#Convert count_age Series to Dataframe
age_analysis_df = count_age.to_frame()
#Create new column with Age groups ranges
age_analysis_df["Age Ranges"] = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#Insert new column with average of purchase by age group, round result by 2 decimals
age_analysis_df["Average Purchase Price"] = (price_age_group).round(decimals=2)
#Insert new column with total revenue by age group, round result by 2 decimals
age_analysis_df["Total Purchase Value"] = total_price_age_group.round(decimals=2)
#Use Age Ranges column as index
age_analysis_df = age_analysis_df.set_index("Age Ranges")
#Merge Total of individual player from pervious DF, so we can use in the next calculation
age_analysis_df= pd.merge(age_analysis_df, age_df["Age"], left_index=True, right_index=True)
#Calculate average total purchase by individual player
age_analysis_df["Avg Total Purchase per Person"] = (age_analysis_df["Total Purchase Value"]/age_analysis_df["Age"]).round(decimals=2)
#Add $ to results
age_analysis_df["Average Purchase Price"] = "$" + age_analysis_df["Average Purchase Price"].map(str)
age_analysis_df["Total Purchase Value"] = "$" + age_analysis_df["Total Purchase Value"].map(str)
age_analysis_df["Avg Total Purchase per Person"] = "$" + age_analysis_df["Avg Total Purchase per Person"].map(str)
#Drop Age column from DF
age_analysis_df = age_analysis_df.drop("Age", axis=1)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

Top Spenders

In [8]:
#This will save the last 0 of the round ups
to_4digit_str1 = lambda flt: str(flt).ljust(4,"0")
to_4digit_str2 = lambda flt: str(flt).ljust(5,"0")
#Group by player and sum it in different DF, by count of player, Average purchase and total pruchases
top_players1 = data.groupby(['SN']).sum()
top_players_count = data.groupby(['SN']).count()
top_player_mean = data.groupby(['SN']).mean()
#Sort DF of Total purchases to get top contributors 
top_players1 = top_players1.sort_values(by="Price",ascending=False)
#Merge count DF by SN index, only the column desired
top_players_df = pd.merge(top_players1,top_players_count["Age Ranges"],left_index=True, right_index=True)
#Rename columns to easy access later
top_players_df = top_players_df.rename(columns={"Age Ranges": "Purchase Count", "Price": "Total Purchase Value"})
#Merge mean DF by Sn index, only the column desired
top_players_df = pd.merge(top_players_df,top_player_mean["Price"],left_index=True, right_index=True)
#drop unused columns & rename merged column
top_players_df = top_players_df.drop(columns=(["Purchase ID","Age","Item ID"]))
top_players_df = top_players_df.rename(columns={"Price": "Average Purchase Price"})
#Rearrage columns, to browse information better
top_players_df = top_players_df[["Purchase Count","Average Purchase Price", "Total Purchase Value"]]
top_players_df = top_players_df.head(5)
#Add $ to results and save 0 from string conversion
top_players_df["Average Purchase Price"] = "$" + ((top_players_df["Average Purchase Price"]).round(decimals = 2)).map(to_4digit_str1)
top_players_df["Total Purchase Value"] = "$" + ((top_players_df["Total Purchase Value"]).round(decimals = 2)).map(to_4digit_str2)
top_players_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

Most Popular Items

In [18]:
#extract the total count of purchases, the individual prices and total revenue of the items.
pop_items_sum = data.groupby(['Item ID',"Item Name"]).sum()
pop_items_cnt = data.groupby(['Item ID','Item Name']).count()
pop_item_price = data[["Price","Item ID","Item Name"]]
#drop duplicates from item price DF
pop_item_price = pop_item_price.drop_duplicates(subset='Item ID', keep='first')
#set indexes for easy merging later
pop_item_price = pop_item_price.set_index(['Item ID','Item Name'])
#drop and rename columns
pop_items_cnt = pop_items_cnt.drop(columns=(["Purchase ID","SN","Gender","Age Ranges","Age"]))
pop_items_cnt = pop_items_cnt.rename(columns={"Price":"Purchase Count"})
pop_items_sum = pop_items_sum.drop(columns=(["Purchase ID","Age"]))
pop_items_sum = pop_items_sum.rename(columns={"Price":"Total Purchase Value"})
#merge of DFs
items_pop_df = pd.merge(pop_items_sum,pop_items_cnt["Purchase Count"],left_index=True, right_index=True)
items_pop_df = pd.merge(items_pop_df,pop_item_price["Price"],left_index=True, right_index=True)
items_pop_df = items_pop_df[["Purchase Count","Price","Total Purchase Value"]]
#sort by Purchase count for Most Popular Items
items_popular_df = items_pop_df.sort_values(by="Purchase Count",ascending=False)
items_popular_df = items_popular_df.head(5)
items_popular_df

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
145,Fiery Glass Crusader,9,4.58,41.22
82,Nirvana,9,4.90,44.10

Most Profitable Items

In [19]:
#Sort by Total Purchase value for Most Profitable Items
items_profitable_df = items_pop_df.sort_values(by="Total Purchase Value",ascending=False)
items_profitable_df = items_profitable_df.head(5)
items_profitable_df

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.88,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80