In [1]:
import pandas as pd
import numpy as np

file = "Resources/purchase_data.csv"

data = pd.read_csv(file)

data = data.rename(columns={"Item ID":"item_id","Item Name":"item"})

Player Count

In [2]:
SN = data.drop_duplicates('SN', keep='last')
TotalSN = len(SN)
TotalSN_df = pd.DataFrame({"Total Players":[(TotalSN)]})
TotalSN_df

   Total Players
0            576

Purchasing Analysis (Total)

In [3]:
items = data.item.unique()
number_items = len(items)
price_avg = data.Price.mean()
pr_avg = "$" + str(price_avg.round(decimals=2))
number_purchase = len(data)
total_purchase = data.Price.sum()
t_p = "$" + str(total_purchase)
Total_Analysis_df = pd.DataFrame({"Number of Unique Items":[number_items],"Average Price":[pr_avg],"Number of Purchases":[number_purchase],"Total Revenue":[t_p]})
Total_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

  Gender Demographics

In [4]:
g_m = data.loc[data["Gender"] == "Male"]
g_f = data.loc[data["Gender"] == "Female"]
g_o = data.loc[data["Gender"] == "Other / Non-Disclosed"]
g_m_u = g_m.drop_duplicates(subset='SN', keep='first')
g_f_u = g_f.drop_duplicates(subset='SN', keep='first')
g_o_u = g_o.drop_duplicates(subset='SN', keep='first')
count_m = len(g_m_u)
count_f = len(g_f_u)
count_o = len(g_o_u)
per_m = (count_m/TotalSN)*100
per_f = (count_f/TotalSN)*100
per_o = (count_o/TotalSN)*100
per_m_s= str(format(per_m,'.2f'))+ "%"
per_f_s= str(format(per_f,'.2f'))+ "%"
per_o_s= str(format(per_o,'.2f'))+ "%"
gender_df = pd.DataFrame({"Total Count":[count_m,count_f,count_o],"Percentage of Players":[per_m_s,per_f_s,per_o_s]},index = ['Male', 'Female', 'Other / Non-Disclosed'])
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender)

In [5]:
total_purchase_m = len(g_m)
total_purchase_f = len(g_f)
total_purchase_o = len(g_o)
price_avg_m = g_m.Price.mean()
price_avg_f = g_f.Price.mean()
price_avg_o = g_o.Price.mean()
str_price_avg_m = "$" + str(price_avg_m.round(decimals=2))
str_price_avg_f = "$" + str(price_avg_f.round(decimals=2))
str_price_avg_o = "$" + str(price_avg_o.round(decimals=2))
total_purchase_m = g_m.Price.sum()
total_purchase_f = g_f.Price.sum()
total_purchase_o = g_o.Price.sum()
str_total_purchase_m = "$" + str(total_purchase_m.round(decimals=2))
str_total_purchase_f = "$" + str(total_purchase_f.round(decimals=2))
str_total_purchase_o = "$" + str(total_purchase_o.round(decimals=2))
avg_pp_m = total_purchase_m/count_m
avg_pp_f = total_purchase_f/count_f
avg_pp_o = total_purchase_o/count_o
str_avg_pp_m = "$" + str(avg_pp_m.round(decimals=2))
str_avg_pp_f = "$" + str(avg_pp_f.round(decimals=2))
str_avg_pp_o = "$" + str(avg_pp_o.round(decimals=2))
purchase_gender_df = pd.DataFrame({"Purchase Count":[total_purchase_f,total_purchase_m,total_purchase_o],"Average Purchase Price":[str_price_avg_f,str_price_avg_m,str_price_avg_o],"Total Purchase Value":[str_total_purchase_f,str_total_purchase_m,str_total_purchase_o],"Avg Total Purchase per Person":[str_avg_pp_f,str_avg_pp_m,str_avg_pp_o]},index = ['Male', 'Female', 'Other / Non-Disclosed'])
purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,361.94,$3.2,$361.94,$4.47
Female,1967.64,$3.02,$1967.64,$4.07
Other / Non-Disclosed,50.19,$3.35,$50.19,$4.56

Age Demographics

In [6]:
bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_group = pd.cut(SN["Age"],bins,labels=labels).value_counts()
age_df = pd.DataFrame(age_group, index= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
age_df["Percentage of Players"] = ((age_df["Age"]/TotalSN)*100).round(decimals=2)
age_df["Percentage of Players"] = age_df["Percentage of Players"].map(str) + "%"
age_group.reset_index(drop=True)
age_df

       Age Percentage of Players
<10     17                 2.95%
10-14   22                 3.82%
15-19  107                18.58%
20-24  258                44.79%
25-29   77                13.37%
30-34   52                 9.03%
35-39   31                 5.38%
40+     12                 2.08%

Purchasing Analysis (Age)

In [22]:
bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
data1 = data
data1["Age Ranges"] = pd.cut(data["Age"],bins,labels=labels)
data1.set_index("Age Ranges")
age_group = data1.groupby(["Age Ranges"])
count_age = age_group["Age Ranges"].value_counts()
count_age = count_age.reset_index(drop=True)
count_age = count_age.rename("Purchase Count")
price_age_group = age_group["Price"].mean()
price_age_group = price_age_group.reset_index(drop=True)
total_price_age_group = age_group["Price"].sum()
total_price_age_group = total_price_age_group.reset_index(drop=True)
age_analysis_df = count_age.to_frame()
age_analysis_df["Age Ranges"] = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_analysis_df["Average Purchase Price"] = (price_age_group).round(decimals=2)
age_analysis_df["Total Purchase Value"] = total_price_age_group.round(decimals=2)
age_analysis_df = age_analysis_df.set_index("Age Ranges")
age_analysis_df= pd.merge(age_analysis_df, age_df["Age"], left_index=True, right_index=True)
age_analysis_df["Avg Total Purchase per Person"] = (age_analysis_df["Total Purchase Value"]/age_analysis_df["Age"]).round(decimals=2)
age_analysis_df["Average Purchase Price"] = "$" + age_analysis_df["Average Purchase Price"].map(str)
age_analysis_df["Total Purchase Value"] = "$" + age_analysis_df["Total Purchase Value"].map(str)
age_analysis_df["Avg Total Purchase per Person"] = "$" + age_analysis_df["Avg Total Purchase per Person"].map(str)
age_analysis_df = age_analysis_df.drop("Age", axis=1)
age_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19