In [77]:
import pandas as pd
import numpy as np

file = "Resources/purchase_data.csv"

data = pd.read_csv(file)

data = data.rename(columns={"Item ID":"item_id","Item Name":"item"})

Player Count

In [78]:
SN = data.drop_duplicates('SN', keep='last')
TotalSN = len(SN)
TotalSN_df = pd.DataFrame({"Total Players":[(TotalSN)]})
TotalSN_df

   Total Players
0            576

Purchasing Analysis (Total)

In [79]:
items = data.item.unique()
number_items = len(items)
price_avg = data.Price.mean()
pr_avg = "$" + str(price_avg.round(decimals=2))
number_purchase = len(data)
total_purchase = data.Price.sum()
t_p = "$" + str(total_purchase)
Total_Analysis_df = pd.DataFrame({"Number of Unique Items":[number_items],"Average Price":[pr_avg],"Number of Purchases":[number_purchase],"Total Revenue":[t_p]})
Total_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

  Gender Demographics

In [80]:
g_m = data.loc[data["Gender"] == "Male"]
g_f = data.loc[data["Gender"] == "Female"]
g_o = data.loc[data["Gender"] == "Other / Non-Disclosed"]
g_m_u = g_m.drop_duplicates(subset='SN', keep='first')
g_f_u = g_f.drop_duplicates(subset='SN', keep='first')
g_o_u = g_o.drop_duplicates(subset='SN', keep='first')
count_m = len(g_m_u)
count_f = len(g_f_u)
count_o = len(g_o_u)
per_m = (count_m/TotalSN)*100
per_f = (count_f/TotalSN)*100
per_o = (count_o/TotalSN)*100
per_m_s= str(format(per_m,'.2f'))+ "%"
per_f_s= str(format(per_f,'.2f'))+ "%"
per_o_s= str(format(per_o,'.2f'))+ "%"
gender_df = pd.DataFrame({"Total Count":[count_m,count_f,count_o],"Percentage of Players":[per_m_s,per_f_s,per_o_s]},index = ['Male', 'Female', 'Other / Non-Disclosed'])
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

Purchasing Analysis (Gender)

In [81]:
total_purchase_m = len(g_m)
total_purchase_f = len(g_f)
total_purchase_o = len(g_o)
price_avg_m = g_m.Price.mean()
price_avg_f = g_f.Price.mean()
price_avg_o = g_o.Price.mean()
str_price_avg_m = "$" + str(price_avg_m.round(decimals=2))
str_price_avg_f = "$" + str(price_avg_f.round(decimals=2))
str_price_avg_o = "$" + str(price_avg_o.round(decimals=2))
total_purchase_m = g_m.Price.sum()
total_purchase_f = g_f.Price.sum()
total_purchase_o = g_o.Price.sum()
str_total_purchase_m = "$" + str(total_purchase_m.round(decimals=2))
str_total_purchase_f = "$" + str(total_purchase_f.round(decimals=2))
str_total_purchase_o = "$" + str(total_purchase_o.round(decimals=2))
avg_pp_m = total_purchase_m/count_m
avg_pp_f = total_purchase_f/count_f
avg_pp_o = total_purchase_o/count_o
str_avg_pp_m = "$" + str(avg_pp_m.round(decimals=2))
str_avg_pp_f = "$" + str(avg_pp_f.round(decimals=2))
str_avg_pp_o = "$" + str(avg_pp_o.round(decimals=2))
purchase_gender_df = pd.DataFrame({"Purchase Count":[total_purchase_f,total_purchase_m,total_purchase_o],"Average Purchase Price":[str_price_avg_f,str_price_avg_m,str_price_avg_o],"Total Purchase Value":[str_total_purchase_f,str_total_purchase_m,str_total_purchase_o],"Avg Total Purchase per Person":[str_avg_pp_f,str_avg_pp_m,str_avg_pp_o]},index = ['Male', 'Female', 'Other / Non-Disclosed'])
purchase_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,361.94,$3.2,$361.94,$4.47
Female,1967.64,$3.02,$1967.64,$4.07
Other / Non-Disclosed,50.19,$3.35,$50.19,$4.56

Age Demographics

In [86]:
bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
age_group = pd.cut(SN["Age"],bins,labels=labels).value_counts()
age_df = pd.DataFrame(age_group, index= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
p_age = ((age_df["Age"]/TotalSN)*100).round(decimals=2)
age_df["Percentage of Players"] = p_age
age_df

       Age  Percentage of Players
<10     17                   2.95
10-14   22                   3.82
15-19  107                  18.58
20-24  258                  44.79
25-29   77                  13.37
30-34   52                   9.03
35-39   31                   5.38
40+     12                   2.08

Purchasing Analysis (Age)